---
name: Slimme vuilnisbak
layout: default
tile: traject-slimme-vuilbak-tile.jpg
summary: Korte omschrijving van het traject voor op home de pagina
navigation:
  - title: Terug
    url: javascript:history.back()
  - id: omschrijving
    title: Omschrijving
  - id: ono-bord
    title: ONO bord
  - id: stap-per-stap
    title: Stap per stap
ono:
  project: Slimme vuilnisbak
  goal: Vuilnisbakken een beetje slimmer maken.
  cards:
    - card: inform
      track: limited
      time: 10 min
      groupform: klassikaal
      technique: Via PPT ( foto’s van uitdagingen en foto’s van voorstellingen op startevent.
      media: Foto’s eventueel filmpjes.
      who: Dit kan door één leerkracht gedaan worden.
      goal: De leerlingen halen de uitdagingen uit de verschillende domeinen op.
      evaluationform: Individuele deelname. Deze actie is bedoeld om herinneringen los te maken. Formatieve beoordeling is hier op zijn plaats.
      feedback:
        <i class="material-icons">add_circle_outline</i> Vanaf het begin van de les kan snel de aandacht worden getrokken, doordat foto’s worden getoond van de leerlingen zelf.
        
        <i class="material-icons">remove_circle_outline</i> De leerlingen hebben dit eigenlijk al gezien, dus er wordt tijd dubbel gebruikt voor herhaling.
        
        Laat de leerlingen een PowerPoint maken over welke domeinen ze zich nog herinneren. Op deze manier zijn ze verplicht om extra informatie te gaan opzoeken en leren ze zodoende al bij over de problematieken.
        
        Er kan eventueel gewerkt worden met een vragenronde waarbij vooropgestelde vragen voor handen zijn. Op die manier denken de leerling terug na over wat ze tijdens het startevent allemaal hebben gezien.
        
        Eventueel filmpjes opzoeken, waar de domeinen echt zichtbaar zijn. Bv meeuwen die mensen aanvallen,… Is misschien iets interactiever dan foto’s.

    - card: inform
      track: closed
    - card: define
      track: closed
    - card: design-question
      track: closed
    - card: invent
      track: limited
    - card: choose
      track: limited
    - card: idea
      track: limited
    - card: prepare
      track: open
    - card: reflect
      track: closed
    - card: create
      track: open
    - card: prototype
      track: open
    - card: test
      track: open
    - card: reflect
      track: limited
    - card: conclude
      track: limited
---
<header class="traject">
  <div class="header-content container">
    <div class="row">
      <div class="col-lg-12">
        <h1>/ Slimme vuilnisbak</h1>
      </div>
    </div>
  </div>
</header>

<section id="omschrijving" class="alternate">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Startuitdaging</h2>
        <hr>

        Snie sna snappy
      </div>
    </div>
  </div>
</section>

<section id="ono-bord">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>ONO bord</h2>
        <hr>
        {% include ono-board.html %}
    </div>
  </div>
</section>

<section id="stap-per-stap" class="alternate">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h2>Stap per stap</h2>
        <hr>
      </div>
    </div>
    {% include ono-step-by-step.html %}
  </div>
</section>