html, body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
}

#navbar-pixel {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 4rem;
  left: 0;
}

@media (min-width: 768px) {
  .navbar.fixed-top {
    background-color: rgba(34, 34, 34, .3);
    border-bottom: rgba(255, 255, 255, .6) 1px solid;
    transition: all .35s;
    color: rgba(255, 255, 255, .7);

    &.solid {
      background-color: #ffffff;
      border-bottom: rgba(34, 34, 34, .2);
  
      .navbar-brand {
        color: #44C8F5;
      }
  
      .nav-item > .nav-link {
        color: #222222;
      }
  
      .nav-item.active > .nav-link {
        color: #44C8F5;
      }
    }
  }
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #ffffff;
  background-image: url('/assets/images/background.jpg');
  background-position: center;
  background-size: cover;

  padding-top: 10rem;
  padding-bottom: 5rem;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, .5);

  p {
    padding: 0 10rem 0 10rem;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  header {
    min-height: 100vh;
  }
}
