.traject {
  margin: 2rem;
  width: 10rem;
  height: 10rem;
  background-color: #e0e0e0;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 2rem rgba(34, 34, 34, .3);

  background-position: center;
  background-size: cover;

  transition: all .125s;

  &:hover {
    border-radius: 10%;
  }

  a {
    display: table-cell;
    position: relative;
    width: 10rem;
    height: 10rem;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
    vertical-align: middle;
    transform: skewY(-5deg);
    text-shadow: 2px 2px 6px  #000, -2px -2px 6px  #000, 2px -2px 6px  #000, -2px 2px 6px  #000;
    opacity: 0;
    transition: opacity .1s;

    &:hover {
      text-decoration: none;
      opacity: 1;
      transition: opacity .5s;
    }
  }
}
